.page.theme_dark {
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --secondary-color: var(--def-color, #ff0070);
  --hover-border-color: var(--border-dark, #ff007040);
  --accent-color: var(--def-color, #ff0070);
  --highlight-color: var(--high-color, #000028);

  --page-background-color: var(--high-color, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --secondary-color: var(--def-color, #ff0070);
    --hover-border-color: var(--border-dark, #ff007040);
    --accent-color: var(--def-color, #ff0070);
    --highlight-color: var(--high-color, #000028);

    --page-background-color: var(--high-color, #000028);
    --page-background-image: url("../images/cover-image-dark.png");

    --rec-decor-visibility: visible;
  }
}
