.page.theme_light {
  --text-color: var(--light-color, #353430);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --highlight-color: var(--light-color, #353430);
  --secondary-color: var(--light-color, #353430);
  --secondary-color-hover: var(--hover-light-color, #35343040);

  --page-background-color: var(--bg-color, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");

  --rec-decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--light-color, #353430);
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --highlight-color: var(--light-color, #353430);
    --secondary-color: var(--light-color, #353430);
    --secondary-color-hover: var(--hover-light-color, #35343040);
    --page-background-color: var(--bg-color, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");

    --rec-decor-visibility: hidden;
  }
}
