:root {
  --bg-color: #fff1f7;
  --text-color: #f1b2ce;
  --brand-color: #ffc2e6;
  --accent-color: #ff8dcb;

  --title-color: #db00ff;
  --def-color: #ff0070;
  --border-dark: #ff007040;

  --high-color: #000028;
  --light-color: #353430;
  --hover-light-color: #35343040;

  --secondary-color: var(--def-color, #ff0070);
  --hover-border-color: var(--border-dark, #ff007040);
  --accent-color: var(--def-color, #ff0070);
  --highlight-color: var(--high-color, #000028);

  --page-font-family: "IBM Plex mono", monospace;
  --page-background-image: url("../images/cover-image-dark.png");
  --page-background-color: var(--high-color, #000028);

  --rec-decor-visibility: visible;
}
